name: Docker

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: image

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test-rhel:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
            export DOCKER_BUILDKIT=1
            cd rhel-x64
            mkdir out
            docker build -o out .
  test-deb:
    runs-on: ubuntu-latest        
    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |

            cd debian-x64
            docker build -o deb .
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
#  push:
#    # Ensure test job passes before pushing image.
#    needs: 
#    - test-rhel
#    - test-deb

#    runs-on: ubuntu-latest
#    if: github.event_name == 'push'

#    steps:
#      - uses: actions/checkout@v2

#      - name: Build image
        
#        run: docker build . --file Dockerfile --tag image
